<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Shipment Running Containers</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <style>
      table {
        width: 100%
      }
    </style>
  </head>
  <body>
    <h3>Running Containers</h3>
    <table data-module="running">
      <thead>
        <tr>
          <td>Org</td>
          <td>Repo</td>
          <td>Branch</td>
          <td>Redeploy</td>
          <td>Remove</td>
        </tr>
      </thead>
      <tbody>
        {{#each groups}}
        <tr>
          <td>{{org}}</td>
          <td>{{repo}}</td>
          <td>{{branch}}</td>
          <td><button data-action="redeploy" data-action-org="{{org}}" data-action-repo="{{repo}}" data-action-branch="{{branch}}">Redeploy</button></td>
          <td><button data-action="remove" data-action-org="{{org}}" data-action-repo="{{repo}}" data-action-branch="{{branch}}">Remove</button></td>
        </tr>
        {{#each containers}}
        <tr>
          <td></td>
          <td colspan="4">{{name}}</td>
        </tr>
        {{/each}}
        {{/each}}
      </tbody>
    </table>
    <div data-module="deploy">
      <h3>Deploy</h3>
      <form data-name="form">
        <label for="deploy-org">Org</label>
        <input type="text" id="deploy-org" data-name="org" requrired/>
        <label for="deploy-repo">Repo</label>
        <input type="text" id="deploy-repo" data-name="repo" requrired/>
        <label for="deploy-branch">Branch</label>
        <input type="text" id="deploy-branch" data-name="branch" value="master" requrired/>
        <input type="submit" value="Deploy"/>
      </form>
    </div>
    <div data-module="autodeploy">
      <h3>Auto Deploy</h3>
      <input data-name="url" type="text" readonly />
      <input data-name="secret" type="text" readonly />
    </div>

    <script src="https://code.jquery.com/jquery-3.0.0.min.js" integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0=" crossorigin="anonymous"></script>
    <script src="https://cdn.rawgit.com/firstandthird/data-attrs/master/dist/data-attrs.js"></script>
    <script>
      var secret = '{{secret}}';
      $.module('running', function(el, values, els) {
        $.action({
          redeploy: function(e, values) {
            var el = $(this);
            $.post('/deploy', {
              org: values.org,
              repo: values.repo,
              branch: values.branch,
              secret: secret
            }, function() {
              window.location.reload();
            });
          },
          remove: function(e, values) {
            var el = $(this);
            $.post('/remove', {
              org: values.org,
              repo: values.repo,
              branch: values.branch,
              secret: secret
            }, function() {
              window.location.reload();
            });
          }
        }, el);
      });

      $.module('deploy', function(el, values, els) {
        els.form.on('submit', function(e) {
          e.preventDefault();
          $.post('/deploy', {
            org: els.org.val(),
            repo: els.repo.val(),
            branch: els.branch.val(),
            secret: secret
          }, function() {
            window.location.reload();
          });
        });
      });

      $.module('autodeploy', function(el, values, els) {
        var url = window.location.href;
        url = url.substr(0, url.length - 2) + 'github';
        els.url.val(url);
        els.secret.val(secret);
        els.url.on('focus', function() { $(this).select() });
        els.secret.on('focus', function() { $(this).select() });
      });
    </script>
  </body>
</html>
